<% include ../partials/adminheader %>

<div id="type" style="display: none;">products</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="nav-item">
        <a class="btn btn-primary nav-link" href="/admin/manage_product" style="color: white;"><i class="fas fa-chevron-left"></i>
            Quay Lại</a>
    </div>
    <div class="navbar-nav ml-auto mt-2 mt-lg-0">
        <a class="navbar-brand" href="#"><i class="fas fa-plus-square"></i> Lịch sử nhập hàng</a>
    </div>
</nav>

<br>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <th scope="col">Ngày tạo</th>
            <th scope="col">ID</th>
            <th scope="col">Người nhập</th>
            <th scope="col">Số sản phẩm</th>
            <th scope="col">Giá trị</th>
            <th></th>
        </thead>
        <tbody>
            <% importForms.forEach(form => { %> 
                <tr>
                    <td><%= formatDate(form._id) %></td>
                    <td><%= form._id %></td>
                    <td><%= form.user.username %></td>
                    <td><%= form.totalQuantity %></td>
                    <td><%= formatPrice(form.totalPrice) %></td>
                    <td>
                        <a class="btn btn-primary" href="/admin/manage_product/view_history_import/<%= form._id %>">
                            Xem chi tiết
                        </a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<% include ../partials/adminfooter %>